.footer{
    width: 100%;
    height: 5vh;
    background-color: rgb(124, 141, 124);
  
  }
  .content{
    width: 100%;
    height: 85vh;
    background-color: rgba(185, 173, 173, 0.157);
  
  }
  .rounded-top-left-1 {
    border-top-left-radius: 1rem;
}
.rounded-top-right-1 {
    border-top-right-radius: 5rem;
}
.rounded-bottom-left-1 {
    border-bottom-left-radius: 1rem;
}
.rounded-bottom-right-1 {
    border-bottom-right-radius: 1rem;
}
.nav-item:hover a:hover {
  /* margin-top: var(--bs-dropdown-spacer); */
  background-color:#6c757d;
  color: white;
}